
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add cat</h1>

<form>
  <div class="mb-1">
    <label for="catName" class="form-label">Cat name</label>
    <input type="text" class="form-control">
  </div>
  <div class="mb-3">
    <label for="catAge" class="form-label">Age</label>
    <input type="number" class="form-control">
  </div>
    <div class="mb-3">
    <label for="breed" class="form-label">Breed</label>
    <input type="text" class="form-control">
  </div>
      <div class="mb-3">
    <label for="imageUrl" class="form-label">Image Url</label>
    <input type="url" class="form-control">
  </div>
  
  <button type="submit" class="btn btn-primary">Add Cat</button>
</form>

